html {
    overflow-x: hidden;
}
body .kraska { 
    background-image: linear-gradient(45deg
,#ba03f2,#13e780);

}
.container #personal_account {
    background-color: hsla(0,0%,100%,.13);
    position: relative;
    border-radius: 5px;
    padding: 60px 160px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 15px rgb(0 54 60 / 20%);
}
#personal_account .person_account {
    padding: 0;
}
.flex_a {
    display: flex;
}
.hamburger {
    display: none;
}
.hamburger:hover {
    cursor: pointer;
}
.hamburger span {
    width: 24px;
    height: 3px;
    background-color: #fff;
    display: block;
    margin: 6px auto;
    transition: all .3s ease-in-out;
    border-radius: 5px;
}
.first_line {
    transform: translateY(9px) rotate(45deg);
}
.second_line {
    opacity: 0;
}
.third_line {
    transform: translateY(-9px) rotate(-45deg);
}
.flex_account {
    display: flex;
}
.left_dash {
    margin-top: 170px;
    border: 1px solid hsla(0,0%,100%,.15);
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 40px;
}
.avatar {
    padding: 10px 15px 24px;
}
.top_line {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top_line a>svg {
    transition: all .6s ease;
    fill: #fff;
}
.top_line a>svg:hover {
    fill: #13e780;
}
.user {
    margin-right: 15px;
}
.top_line a {
    text-decoration: none;
}
.ava {
    margin: 0 auto;
    text-align: center;
}
.avatar-image {
    width: 130px;
    height: 130px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px auto 15px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    border-radius: 50%;
}
.name {
    font-size: 18px;
    margin-bottom: 6px;
}
.ava p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
#main {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(150vh + 30px);
    position: relative;
}
.menu_dash {
     border-top: 1px solid hsla(0,0%,100%,.15);
}
.menu_dash ul {
    list-style-type: none;
}
.menu_dash ul li a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: color .6s ease-in-out;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 40px;
    margin-bottom: 10px;
}
.menu_dash ul li a:hover {
    color:#13e780;
}
.menu_dash ul li a svg {
    transition: fill .6s ease-in-out;
    fill: #fff;
    margin-right: 15px;
    width: 18px;
}
.menu_dash ul li a svg:hover {
    fill: #13e780;
}
.menu_dash ul li a i {
    font-style: normal;
}
.right-icon {
    position: relative;
    left: 150px;
}
.money_item {
    margin-top: 50px;
}
.money_item a {
    padding: 15px 30px;
    background-color: hsla(0,0%,100%,.2);
}
.money_item a svg {
    margin-right: 10px;
}
.money_item a svg:hover {
    fill: #13e780;
}
.stat {
    border-bottom: 1px solid hsla(0,0%,100%,.15);
    border-top: 1px solid hsla(0,0%,100%,.15);
    border-right: 1px solid hsla(0,0%,100%,.15);
    padding: 37.5px 30px;
    position: relative;
    top: 170px;
}
.nomargin div:first-child {
    margin-top: 0;
}
.alert-warning {
    color: #ffeeba;
    border-color: #ffeeba;
}
.alert {
    position: relative;
    padding: 15px 50px;
    margin-bottom: 1rem;
    border: 1px solid #13e780;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
    text-align: left;
}
.alert-warning:before {
    background-image: url(img/logo.svg);
}
.alert:before {
    content: "";
    width: 26px;
    height: 33px;
    display: block;
    position: absolute;
    top: 6px;
    left: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
::-webkit-scrollbar-button {
    background-image: url(''); 
    background-repeat: no-repeat;
    width: 0px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #d1d1d1;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #14e781;
}
::-webkit-scrollbar-corner {
    background-repeat: no-repeat;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar {
    width: 15px;
    height: 6px;
}
.day {
    border-bottom: 1px solid hsla(0,0%,100%,.15);
    position: relative;
    top: 171px;
    border-right: 1px solid hsla(0,0%,100%,.15);
}
.progress_line .day_b {
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
    text-align: left;
    font-weight: 600;
    margin-left: 20px;
}
.progress_wrapper {
    display: flex;
    align-items: center;
}
.progress_bar {
    border-radius: 10px;
    width: 86%;
    height: 15px;
}
.current_progress_bar {
    border-radius: 10px;
    background-image: linear-gradient(90deg,#03daf2,#13e780);
    height: inherit;
    transition: all .6s ease;
    max-width: 100%;
    margin-left: 20px;
}
.count_day {
    width: 14%;
    margin-left: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}
.progress_line p {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    text-align: left;
    margin-left: 20px;
}
.dash_section_heading {
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
}
.feedback_area {
    border-radius: 5px;
    background-color: rgba(10,155,112,.3);
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    padding: 15px;
    resize: none;
    min-height: 150px;
    border: 1px solid transparent;
    display: block;
    transition: border .4s ease-in-out;
    margin: 0 auto;
}
.feedback_area:hover {
    border: 1px solid #13e780;
}
.feedback_dash {
    position: relative;
    top: 155px;
    padding: 71px;
    border-right: 1px solid hsla(0,0%,100%,.15);
    border-bottom: 1px solid hsla(0,0%,100%,.15);
}
.btn {
    padding: 10px 24px;
    color: #fff;
    background-image: linear-gradient(90deg,#13e780,#03daf2);
    border-radius: 20px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    z-index: 1;
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
    border: none;
    outline: none;
    position: relative;
    left: 43%;
}
.btn:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(90deg,#ba03f2,#13e780);
    z-index: -1;
    transition: opacity .5s linear;
    opacity: 0;
    border-radius: 20px;
}