@media only screen and (max-width: 1366px) {
	.header_names > li > a {
		font-size: 17px;
	}
	.info_ul > li > a {
		font-size: 17px;
	}
	.alert {
		width: 80% !important;
	}
}
@media only screen and (max-width: 1490px) {
	header {
		display: block;
	}
	.header_names {
		display: block;
	}
	.info_ul {
		display: block;
	}
	.header_names li {
		text-align: center;
	}
	.info_ul > li {
		text-align: center;
	}
	.main_services {
		column-count: 2;
	}
}
@media only screen and (max-width: 600px) {
	.subtitle > h2 {
		font-size: 27px;
		margin-top: 15px;
	}
}
@media only screen and (max-width: 630px) {
	.main_settings > .row {
		display: block !important;
	}
	.col {
		max-width: 100% !important;
	}
	.main_settings > .row > div:first-child {
		border-right: 1px solid transparent !important;
	}
	.main_settings > .row > div {
		border-top: 1px solid #4c8da4 !important;
	}
}
@media only screen and (max-width: 420px) {
	.subtitle > h2 {
		font-size: 24px;
		margin-top: 17px;
	}
}
@media only screen and (max-width: 500px) {
	.input_change > label {
		display: block !important;
	}
	.input_change > label > input {
		margin-left: 0px;
	}
}
@media only screen and (max-width: 400px) {
	.inputs > label input {
		width: -webkit-fill-available !important;
	}
	.inputs > label {
		display: block !important;
	}
	input[type='number'],
	input[type='password'],
	input[type='text'],
	textarea {
		margin-left: 0px !important;
	}
}
@media only screen and (max-width: 330px) {
	.subtitle > span > a {
		font-size: 22px;
	}
	.subtitle > span {
		margin-top: 18px;
	}
}
@media only screen and (max-width: 1010px) {
	.container {
		display: flex;
		flex-direction: column;
	}
	.side_bar {
		margin: 0 auto;
	}
	.main_services > li {
		margin: 20px 0 auto;
	}
	.avatar_pre {
		margin-right: auto !important;
		margin-left: auto !important;
		display: block !important;
		margin-bottom: 15px !important;
	}
	.right_max_side {
		margin-top: 50px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.photo {
		display: block !important;
	}
	.right_max_side {
		width: 100% !important;
	}
	.nomargin {
		margin-top: 35px;
	}
	.main_content {
		padding-top: 0px;
	}
	.main_services {
		column-count: 1;
	}
	.contacts {
		margin-bottom: 30px !important;
		margin-top: 30px !important;
	}
}
@media (min-width: 992px) {
	.footer-container {
		max-width: 960px;
	}
}
@media (min-width: 992px) {
	.footer-container {
		max-width: 720px;
	}
}
@media (min-width: 576px) {
	.footer-container {
		max-width: 540px;
	}
}
@media only screen and (max-width: 1000px) {
	header {
		display: none;
	}
	.subtitle_1 {
		display: flex;
		flex-direction: row;
		background-color: #fff;
		height: 60px;
		border-bottom: 3px solid #e7e5e2;
	}
	.subtitle_1 > a {
		margin: 0 auto;
		margin-top: 4px;
	}
	.header.responsive {
		position: relative;
	}
	.header.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
}
@media only screen and (max-width: 1500px) {
	#main {
		height: 100%;
	}
}
@media only screen and (max-width: 440px) {
	.subtitle > h2 {
		display: none;
	}
	.subtitle > span {
		margin-right: auto;
	}
}
@media screen and (max-width: 450px) {
	.nomargin > div {
		width: 60% !important;
	}
}
@media only screen and (max-width: 370px) {
	.side_bar {
		width: auto;
	}
}
@media only screen and (max-width: 400px) {
	.main_services > li {
		padding: 70px 90px;
	}
}
@media only screen and (max-width: 340px) {
	.main_services > li {
		padding: 70px 70px;
	}
}
@media screen and (max-width: 1680px) {
	.nomargin > div {
		width: 92%;
	}
}
@media screen and (max-width: 700px) {
	.alert {
		width: 70% !important;
	}
}
@media (min-width: 768px) {
	.col-md-3 {
		-webkit-box-flex: 0;
		flex: 0 0 25%;
		max-width: 25%;
	}
}
@media only screen and (max-width: 768px) {
	#footer .bottom-footer {
		margin-top: 30px !important;
		font-size: 16px !important;
	}
	.row-footer {
		flex-wrap: wrap !important;
	}
}
