h1 {
	text-align: center;
}
.avatar {
	width: 130px;
	height: 130px;
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
	border-radius: 50%;
	background-color: #e3e3e3;
	cursor: pointer;
	margin: 0 auto;
	display: block;
}
.side_bar {
	padding: 30px;
	width: 250px;
	background-color: #fff;
	border-radius: 10px;
	margin-left: 20px;
}
.side_bar > h2 {
	text-align: center;
}
.side_bar > p {
	text-align: center;
}
.services {
	padding: 0;
}
.services > li {
	padding: 12px;
}
.services > li > a {
	font-size: 20px;
	color: #000;
	transition: 0.1s ease-in;
}
.services > li > a:hover {
	color: #d0cfcc;
}
.icons {
	margin-right: 5px;
}
.container {
	display: flex;
	flex-direction: row;
}
.main_content {
	margin: 0 auto;
	padding-top: 35px;
}
.main_services {
	column-count: 2;
	padding: 0;
}
.main_services > li {
	background-color: #fbfbfb;
	border: 1px solid #f0f0f0;
	margin-bottom: 40px;
	cursor: pointer;
	border-radius: 10px;
	margin-right: 30px;
	padding: 70px 100px;
	text-align: center;
	transition: all 0.6s ease;
}
.main_services > li:hover {
	transform: translateY(-10px);
}
.li_orders {
	background-image: url(../img/orders.png);
	background-repeat: no-repeat;
	background-position: top;
	background-position-y: 20px;
}
.li_money {
	background-image: url(../img/account.png);
	background-repeat: no-repeat;
	background-position: top;
	background-position-y: 20px;
}
.li_input {
	background-image: url(../img/user_account.png);
	background-repeat: no-repeat;
	background-position: top;
	background-position-y: 20px;
}
.li_storyies {
	background-image: url(../img/orders_store.png);
	background-repeat: no-repeat;
	background-position: top;
	background-position-y: 20px;
}
.li_contacts {
	background-image: url(../img/contacts1.png);
	background-repeat: no-repeat;
	background-position: top;
	background-position-y: 20px;
}
.li_subscrubiries {
	background-image: url(../img/subscr.png);
	background-repeat: no-repeat;
	background-position: top;
	background-position-y: 20px;
}
.main_services > li:hover {
	background-color: #bebebe;
}
.main_services > li > a {
	color: #383838;
	font-size: 20px;
}
.nomargin > div:first-child {
	margin-top: 0;
}
.nomargin > div {
	width: 100%;
}
.alert-warning {
	color: #13e780;
	border-color: #ffeeba;
}
.alert {
	position: relative;
	padding: 15px 50px;
	margin-bottom: 1rem;
	border: 1px solid #13e780;
	border-radius: 5px;
	font-weight: 500;
	box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
	text-align: left;
}
.notification_success {
	padding: 8px 20px;
	width: 95%;
	font-size: 15px;
	font-weight: 500;
	border-radius: 20px;
	background-color: hsla(0, 0%, 100%, 0.95);
	position: relative;
	display: flex;
	align-items: center;
	margin: 15px auto;
}
.notification_success {
	color: #0fc36c;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main-not {
	font-size: 16px;
	padding: 5px 5px;
}
.main-not > a {
	color: #ba03f2;
	transition: color 0.4s ease-in-out;
	border-bottom: 1px dashed #ba03f2;
	text-decoration: none;
}
.main-not > a:hover {
	border-color: #9302c0;
	color: #9302c0;
}
.btn_close_notif {
	color: #13e780;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	transition: all 0.6s ease;
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 10px;
}
.btn_close_notif:hover {
	color: #03daf2;
}
