@media screen and(max-width: 1149px) {
	.menu-list ul li {
		display: inline-block;
		flex-direction: column;
	}
}
@media screen and (max-width: 1410px) {
	.text-portfolio {
		display: flex;
		margin-left: 0px;
	}
}
@media screen and (max-width: 1045px) {
	.text-portfolio {
		display: inline-block;
		text-align: center;
		margin-left: 0px;
	}
}
@media screen and (max-width: 1040px) {
	.my-services2 {
		margin-top: -14px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}
@media screen and (max-width: 600px) {
	.footer-menu ul {
		display: inline-block;
		flex-direction: row;
		padding: 0;
		margin: 0;
	}
	.footer-menu {
		text-align: center;
	}
	.header h1 {
		font-size: 29px;
	}
	.menu_top_active {
		position: absolute;
		background-color: #fff;
		border-radius: 5px;
		top: 50px;
		right: 55px;
		padding: 1px;
		display: block;
		z-index: 10;
		box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
		transition: 0.5s;
	}
}
@media screen and (max-width: 1420px) {
	.profile {
		display: inline-block;
	}
	.profile img {
		height: 350px;
		width: 350px;
		border: 5px solid #1f202f;
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	.button-1 {
		margin: 0 auto;
	}
	.perso-h3 {
		text-align: center;
	}
	.profile h2 {
		text-align: center;
	}
}
@media screen and (max-width: 705px) {
	.contact {
		display: block;
	}
}
@media screen and (max-width: 1800px) {
	.img-portfolio img {
		display: block;
		margin: 0 auto;
	}
	.button {
		font-size: 20px;
	}
}
@media screen and (max-width: 1090px) {
	.contact-me {
		display: inline-block;
	}
}
@media screen and (max-width: 1000px) {
	.menu .menu-lists {
		display: inline-block;
	}
}
@media screen and (max-width: 1920px) {
	.person span {
		color: white;
		text-align: center;
	}
}
@media screen and (max-width: 730px) {
	.contact {
		height: auto;
		display: flex;
		flex-direction: column;
	}
	.section-title h1,
	h5 {
		text-align: center;
		font-size: 40px;
	}
	.section-content p {
		text-align: center;
	}
	.heading {
		text-align: center;
	}
	.post-image {
		margin-top: auto;
		margin-bottom: 16px;
	}
}
@media screen and (max-width: 505px) {
	.profile img {
		height: 250px;
		width: 250px;
	}
	.profile h2 span {
		font-size: 30px;
	}
}
@media screen and (max-width: 860px) {
	.img-portfolio img {
		width: 500px;
		height: 300px;
	}
}
@media screen and (max-width: 470px) {
	.button-1 {
		margin: 0 auto;
		font-size: 18px;
		width: 170px;
		height: 55px;
	}
}
@media screen and (max-width: 375px) {
	.button-1 {
		margin: 0 auto;
		width: 150px;
		height: 50px;
		font-size: 15px;
	}
	.profile {
		margin: 20px;
	}
	.description {
		margin: auto;
	}
	.person img {
		width: 200px;
		height: 200px;
	}
	.person h2 {
		font-size: 40px;
	}
}
@media screen and (max-width: 545px) {
	.img-portfolio img {
		width: 300px;
		height: 200px;
	}
	.footer-menu ul li {
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 305px) {
	.social-links {
		display: inline-block;
	}
	.social-links li {
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 600px) {
	.header a {
		display: none;
	}
	.header a.icon {
		float: right;
		display: block;
		color: #fff;
	}
	span.material-icons.arrow_right_alt {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.header.responsive {
		position: relative;
	}
	.header.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.header.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
@media screen and (max-width: 1366px) {
	.post-image {
		width: 450px;
		height: 550px;
	}
}
@media screen and (max-width: 700px) {
	.social-links.responsive {
		position: relative;
	}
	.social-links.responsive .icon {
		position: relative;
		right: 0;
		top: 0;
	}
	.social-links.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
@media screen and (max-width: 200px) {
	.logo {
		font-size: 25px;
	}
}
@media screen and (max-width: 810px) {
	.post-image {
		width: 350px;
		height: 450px;
	}
}
@media screen and (max-width: 738px) {
	.post-image {
		width: 250px;
		height: 350px;
	}
}
@media screen and (max-width: 767px) {
	html,
	body {
		overflow-x: hidden;
	}
}
@media screen and (max-width: 751px) {
	.my-services {
		padding: revert;
	}
}
@media screen and (max-width: 420px) {
	.profile img {
		height: auto;
		width: auto;
	}
}
@media screen and (max-width: 650px) {
	.description ul {
		columns: auto;
		text-align: center;
		padding: 10px 0px;
	}
	.person-h3 {
		text-align: center;
	}
}
@media screen and (max-width: 400px) {
	.header h1 {
		font-size: 24px;
	}
}
