@media screen and (max-width: 800px) {
	h1 {
		font-size: 45px;
	}
	.poster img {
		width: 410px;
		height: 700px;
	}
	.button_trailer {
		left: 37%;
	}
	.time_trailer {
		left: 128%;
	}
	.soundtrack {
		left: 70%;
		bottom: -30%;
	}
}
@media screen and (max-width: 750px) {
	h1 {
		font-size: 40px;
	}
	.poster img {
		width: 370px;
		height: 600px;
	}
	.button_trailer {
		left: 23%;
	}
	.time_trailer {
		left: 113%;
	}
	.soundtrack {
		left: 69%;
		bottom: -13%;
	}
}
@media screen and (max-width: 700px) {
	h1 {
		font-size: 35px;
	}
	.poster img {
		width: 300px;
		height: 500px;
	}
	.button_trailer {
		left: 6%;
	}
	.time_trailer {
		left: 81%;
	}
	.poster-review .video-review img {
		width: 275px;
		height: 167px;
	}
	.soundtrack {
		left: 65%;
		bottom: 4%;
	}
}
@media only screen and (max-width: 700px) {
	h1 {
		font-size: 30px;
	}
	.facts-name {
		font-size: 30px;
	}
	.cards {
		display: block;
		column-count: 1 !important;
		margin: 0 auto;
	}
	.cards .card:nth-child(1),
	.card:nth-child(2),
	.card:nth-child(3) {
		margin-bottom: 30px;
	}
	.title {
		display: block;
	}
	.rate_series {
		margin-top: 45px;
		margin-left: 0px !important;
		margin-bottom: 40px;
	}
	.information {
		display: block;
	}
	.information div:nth-child(1) {
		margin-left: -40px;
	}
	.information div:nth-child(2) img {
		margin: 0px;
		margin-left: 20px;
	}
	.actors li {
		margin-bottom: 15px;
		border-bottom: 1px solid #ffffff1a;
	}
	.ab_act {
		margin-left: -40px !important;
	}
	.h2_ab_act {
		margin-top: 40px;
	}
	.soundtrack {
		left: 68%;
		bottom: 5%;
	}
	.div_facts {
		padding-left: 0px !important;
	}
	.facts-name_2 {
		display: block;
		text-align: center;
		font-size: 30px;
	}
	.information div:nth-child(1) {
		width: auto;
	}
	.facts li {
		font-size: 19px;
	}
	.dop_info {
		margin: 30px 0px;
	}
}
@media screen and (max-width: 540px) {
	.facts-name {
		font-size: 27px;
	}
}
@media screen and (max-width: 500px) {
	.facts-name {
		font-size: 23px;
	}
}
@media screen and (max-width: 430px) {
	.facts-name {
		font-size: 21px;
	}
	.soundtrack {
		left: 75%;
		bottom: 5%;
	}
	.title div:nth-child(1) h2 span {
		font-size: 33px;
		color: #fff;
	}
}
@media screen and (max-width: 450px) {
	.poster img {
		width: 300px;
		height: 500px;
	}
	.facts-name {
		margin-left: 0px;
	}
	.soundtrack {
		left: 74%;
		bottom: 5%;
	}
	.facts-name_2 {
		font-size: 27px;
	}
	.facts li {
		font-size: 18px;
	}
}
@media screen and (max-width: 350px) {
	h1 {
		font-size: 25px;
	}
	.poster img {
		width: 250px;
		height: 400px;
	}
	.poster-review .video-review img {
		width: 250px;
		height: 142px;
	}
	.button_trailer {
		left: 1%;
	}
	.time_trailer {
		left: 58%;
	}
	.similar_films {
		margin-left: 0px;
	}
	.soundtrack {
		left: 73%;
		bottom: 23%;
	}
	.title div:nth-child(1) h2 span {
		font-size: 30px;
		color: #fff;
	}
	.suggest_films {
		font-size: 14px;
	}
	.facts-name_2 {
		font-size: 25px;
	}
}
@media only screen and (max-width: 300px) {
	.button_films {
		margin: 0 0 0 0px;
	}
}
@media only screen and (max-width: 295px) {
	.soundtrack {
		left: 77%;
		bottom: 17%;
	}
}
@media only screen and (max-width: 860px) {
	.title {
		width: auto;
		margin-left: 0px;
	}
	.rate_series {
		margin-left: 55px;
		margin-right: 15px;
	}
	.dop_info {
		margin-left: 0px;
	}
}
@media only screen and (max-width: 995px) {
	.cards {
		display: block;
		column-count: 2;
		margin: 0 auto;
	}
	.cards .card:nth-child(3),
	.cards .card:nth-child(4) {
		margin-right: 0px;
	}
	.cards .card:nth-child(1),
	.cards .card:nth-child(3) {
		margin-bottom: 30px;
	}
}
